* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    padding: 2rem 2rem;
    background-color: #F8F5FD;
}

header nav {
    display: flex;
    justify-content: space-between;
}



.logo-nav a img {
    height: 60px;
}

.menu-nav {
    padding-top: 1rem;
}

.menu-nav ul {
    display: flex;
    list-style: none;
    
}

.menu-nav  li {
    margin-right: 2rem;
    font-size: 20px;
    font-weight: bold;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
}

.menu-nav a {
    text-decoration: none;
    color: #c81417;
}

.menu-nav a:hover {
    color: #4d06af;
}


main {
    background-color: #ECF8F8;
}
.info h3{
    padding: 2rem;
    text-align: center;
    font-size: 28px;
    font-family: "Mitr", sans-serif;
    font-weight: 600;
}

.info img {
    width: 30%;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.44);
}
.info p {
    padding-left: 3rem;
    padding-bottom: 1rem;
    font-size: 18px;
    font-family: "Noto Serif Thai", serif;

}

.section-info h3 {
    margin-top: 2rem;
    text-align: center;
    font-size: 28px;
    font-family: "Mitr", sans-serif;
    font-weight: 600;
}

.contecttt {
    padding-top: 2rem;
    text-align: center;
    font-size: 28px;
    font-family: "Mitr", sans-serif;
    font-weight: 600;
}
.contect-info {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #ddfffa;
    font-family: "Mitr", sans-serif;
    border-color: #ffffff;
    font-size: 16px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contect-info:hover {
    background-color: #ddeaff;
    border-color: #ffffff;
}

.contect-comment {
    margin-top: 1rem;
    width: 450px;
    height: 150px;
    border-radius: 10px;
    background-color: #ddfffa;
    font-family: "Mitr", sans-serif;
    border-color: #ffffff;
    font-size: 18px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
}

.section-info ul {
    list-style: none;
}

.section-info li {
    padding-left: 3rem;
    padding-bottom: 1rem;
    font-size: 18px;
    font-family: "Noto Serif Thai", serif;
}

.foot-info h3 {
    padding-top: 2rem;
    text-align: center;
    font-size: 28px;
    font-family: "Mitr", sans-serif;
    font-weight: 600;
}

.foot-info ul {
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.foot-info li {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    font-size: 20px;
    font-family: "Noto Serif Thai", serif;
}

.img-foot {
    display: flex;
    padding: 2rem;
}

.img-foot .kfc{
    width: 50%;
}

.img-foot .shabu{
    width: 50%;
}

.content-footer {
    margin-top: 2rem;
}

.content-footer label{
    font-family: "Mitr", sans-serif;
    font-size: 20px;
} 
.content-footer2 {
    width: 20px;
}

button {
    margin: 2rem 0;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border-color: #ddeaff;
    background-color: #ddfffa;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.44);
    font-family: "Mitr", sans-serif;
}

footer {
    font-size: 24px;
    padding: 2rem 0;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    background-color:#F8F5FD ;
}

footer a {
    color: #c81417;
    text-decoration: none;
}

footer a:hover {
    color: #4d06af;
    
}

@media (min-width:400px) and (max-width: 1200px) {
    header {
        padding: .5rem .5rem;
    }

    .menu-nav  li {
        margin-right: 2rem;
        font-size: 16px;
        
        font-family: "Mitr", sans-serif;
        font-weight: 400;
    }

    footer {
        
            font-size: 18px;
            padding: 2rem 0;
            font-family: "Mitr", sans-serif;
            font-weight: 400;
            background-color:#F8F5FD ;
        
    }
    .contect-comment {
        width: 350px;
        height: 120px;
    }
}

@media only screen and (max-width: 400px) {
    * {
        width: 100%;
    }

    .logo-nav a img {
        display: none;
    }

    .menu-nav  li {
        margin-right: 2rem;
        font-size: 16px;
        
        font-family: "Mitr", sans-serif;
        font-weight: 400;
    }
    footer {
        
        font-size: 16px;
        padding: 2rem 0;
        font-family: "Mitr", sans-serif;
        font-weight: 400;
        background-color:#F8F5FD ;
    
    }
    .contect-comment {
        width: 300px;
        height: 100px;
    }
}